<div class="navbar">
    <a href="/">Hem</a>
    <a href="/reviews">Alla recensioner</a>
    {% if username %}
    <a href="/minasidor">Mina recensioner</a>
    <a href="/logout">Logga ut</a>
    <a href="/reviews/new">Skriv en recension</a>
    {% else %}
    <a href="/login">Logga in</a>
    <a href="/signup">Registrera</a>
    {% endif %}
</div>