<div class="navbar">
    <a href="/">Hem</a>
    <a href="/">Alla recensioner</a>
    {% if username %}
    <a href="/minasidor">Mina sidor</a>
    <a href="/logout">Logga ut</a>
    <a href="/">Skriv en recension</a>
    {% else %}
    <a href="/login">Logga in</a>
    <a href="/signup">Registrera</a>
    {% endif %} 
</div>