{% extends "layout.njk" %}
{% block content %}

<main class="wrapper">
  <div class="wrapper">
    <div class="card">
      <h1> {{ title }} och login</h1>
      <h2>Välkommen till startsidan</h2>
      <img src="/images/welcome-min.jpg" alt="An image with a welcome sign">
    </div>
  </div>
</main>

{% endblock %}