.container {
    max-width: 54rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.wrapper {
    width: 100%;
    max-width: 40.63rem;
    margin: 6rem auto;
}

.login {
    color: rgb(14, 14, 14);

    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 1;
    }

    input[type=password],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 1;
    }

    input[type=number],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

    }

    input[type=submit] {
        width: 100%;
        background-color: #333;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}

.card {
    background: #474A48;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    padding: 2rem;
}

body,
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    background-color: #9AE19D;
    color: rgb(233, 233, 233);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.headerColor {
    color: #2C302E;
}

.navbar {
    overflow: hidden;
    position: top;
    top: 0;
    width: 100%;
    background-color: #474A48;
}


.navbar a {
    float: left;
    display: block;
    color: rgb(233, 233, 233);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar a:hover {
    background: #2C302E;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

input[type=submit] {
    width: 100%;
    background-color: #333;
    color: rgb(233, 233, 233);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reviewlist {
    list-style: none;
    padding: 0;
}

.reviewlist li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0
}

a {
    color: rgb(233, 233, 233);
    text-decoration: none;
}

a:hover {
    color: rgb(131, 131, 131);
    text-decoration: underline;
}